<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Claim Filed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="${name}">
      Dear Sir
    </p>
    <p>
      A claim has been opened for order #<span th:text="${orderId}">xxx</span>.
    </p>
    <p>
      Claim ID  #<span th:text="${claimId}">xxx</span>.
    </p>
    <p>
      To view this order, click the following link:
      <br/>
      <a th:href="@{${link}}">Order #<span th:text="${orderId}">xxx</span></a>
    </p>
    <p>
      Thank you for your business <br />
    </p>
    <p>
      FREIGHTCOM.COM
    </p>
  </body>
</html>
